:root{
    --preto: #080808;
    --dourado: #D4AF37;
    --champagne: #F5E6CA;
    --branco: #FAFAF7;
    --fontFamily: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--preto);
    font-family: var(--fontFamily); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}

#inicio{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--preto);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:1;
    transition: opacity 1s ease-in-out;
}
/* TÍTULO */
#texto{
    font-size: 3rem;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--champagne);
}

#texto span{
    color: var(--dourado);
}
/*Menu Hamburguer*/

.menu-hamburguer{
    display:none;
    flex-direction:column;
    justify-content: space-around;
    width:30px;
    height:25px;
    cursor:pointer;
    z-index:1000;
}
.menu-hamburguer span{
    width:100%;
    height:3px;
    background:var(--dourado);
    border-radius:10px;
}
header{
    background:var(--preto);
    color:var(--dourado);
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow: 0 5px 5px var(--dourado);
    border-radius: 0px;
}
header #logo{
    width:70px;
    height:70px;
    border-radius:0px;
    background: transparent;
}
header nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}
header nav ul li a{
    text-decoration:none;
    color:var(--champagne);
    font-weight:800;
}
header nav ul li a:hover{
    color:var(--dourado);
}
/* CONTAINER */
#container{
    padding: 20px 8%;
}


/* GRID DOS CARDS */
.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 100px;
    justify-content: center;
}

/* CARD */
.produto-card{
    background: var(--preto);
    border: 2px solid var(--champagne);
    border-radius: 15px;
    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.3s ease;
}

.produto-card:hover{
    transform: translateY(-10px);
    border-color: var(--dourado);
    box-shadow: 0 10px 25px rgba(212, 175, 55, 0.25);
}

/* IMAGEM */
.produto-card img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    background: var(--champagne);
    border-radius: 10px;
}

/* CONTEÚDO */
.card-content{
    padding: 20px 0 0;
    color: var(--champagne);
}

/* NOME DO PRODUTO */
.card-content h3{
    min-height: 90px;
    font-size: 1.1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* PREÇO */
.preco-antigo {
    font-size:1rem;
    color: var(--dourado);
    margin-bottom: 8px;
    font-family:Montserrat, sans-serif;
}
.preco-antigo span{
    padding:5px;
    font-size:0.8rem;
    text-decoration:line-through;
    text-decoration-color: var(--champagne);
}

.preco {
    font-size: 1.2rem;
    color: var(--champagne);
    margin: 15px 0;
}
.preco span{
    padding:5px;
    font-size:1.2rem;
    color: var(--champagne);
}

/* BOTÃO */
.btn-comprar{
    background: var(--dourado);
    color: var(--preto);
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    transition: 0.3s ease;
}

.btn-comprar:hover{
    background: var(--champagne);
    color: var(--dourado);
    transform: scale(1.05);
}
#imgfundo{
    position: fixed;

    bottom: -180px;
    right: 175px;

    width: 600px;

    opacity: 0.15;

    filter: blur(1px);

    z-index: -1;

    pointer-events:none;
}

footer {
    width: 100%;
    background: var(--preto);
    border-top: 2px solid var(--dourado);
    padding: 15px;
    text-align: center;
    position: static;
    margin-top: 80px;
}
footer p{
    color: var(--champagne);
    font-size: 1rem;
}
/* Responsividade menu hamburguer */
/* BREAKPOINT */

@media(max-width: 768px){
    header{
        position:relative;
    }
    .menu-hamburguer{
        display:flex;
        position:relative;
        z-index:1002;
    }
    nav{
         display:none !important;
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background:var(--preto);
        flex-direction:column;
        padding: 20px;
        z-index:1001;
        border-radius:30px;
        box-shadow: 0 5px 10px var(--champagne);
   }
   nav.active{
       display:flex !important;
   }
   nav ul{
       flex-direction:column;
       align-items:center;
       gap:20px;
   }
   /* efeito para transformar o menu em X */
   .open span:nth-child(1){transform:rotate(45deg)translate(5px,5px);
}
   .open span:nth-child(2){opacity:0;
}
   .open span:nth-child(3){transform:rotate(-45deg)translate(7px,-7px);
}

}